.head {
    /* border: 2px solid green; */
    height: 75px;
    width: 940px;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 200%;
    color: rgb(56, 59, 63);
}


.div1 {
    height: 200px;
    width: 900px;
    background-color: slategrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 42px;
    margin: 20px;
}

.div1 > img, .div2 > img, .div3 > img {
    height: 200px;
}
.div2 {
    height: 200px;
    width: 900px;
    background-color: whitesmoke;
    border: 12px dashed tomato;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 30px;
    margin: 20px;
}

.div3 {
    height: 200px;
    width: 900px;
    background-color:tomato;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 42px;
    margin: 20px;
